audio-summarizer/statemachine/state_machine.asl.json
{
    "Comment": "State Machine to transcribe voice calls into sentiment and drive notification processing.",
    "StartAt": "Append Output Bucket Name",
    "States": {
      "Append Output Bucket Name": {
        "Type": "Pass",
        "Next": "StartTranscriptionJob",
        "Parameters": {
          "OutputBucketName": "${OutputBucketName}"
        },
        "ResultPath": "$.OutputBucketName"
      },
      "StartTranscriptionJob": {
        "Type": "Task",
        "Parameters": {
          "Media": {
            "MediaFileUri.$": "States.Format('s3://{}/{}', $.detail.bucket.name, $.detail.object.key)"
          },
          "LanguageCode": "en-US",
          "Settings": {
            "ShowSpeakerLabels": "true",
            "MaxSpeakerLabels": 30
          },
          "TranscriptionJobName.$": "States.Format('Transcription-Job-For-{}', $.detail.object.sequencer)",
          "OutputBucketName.$": "$.OutputBucketName.OutputBucketName",
          "OutputKey.$": "States.Format('Transcription-Output-for-{}.txt', $.detail.object.sequencer)"
        },
        "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
        "Next": "Wait for Transcription to complete"
      },
      "Wait for Transcription to complete": {
        "Type": "Wait",
        "Seconds": 30,
        "Next": "GetTranscriptionJob"
      },
      "GetTranscriptionJob": {
        "Type": "Task",
        "Next": "TranscriptionJobStatus",
        "Parameters": {
          "TranscriptionJobName.$": "$.TranscriptionJob.TranscriptionJobName"
        },
        "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob"
      },
      "TranscriptionJobStatus": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
            "StringEquals": "COMPLETED",
            "Next": "Speaker Identification"
          },
          {
            "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
            "StringEquals": "FAILED",
            "Next": "Fail"
          }
        ],
        "Default": "Wait for Transcription to complete"
      },
      "Speaker Identification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${SpeakerIdentificationFunction}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Bedrock Summarization"
      },
      "Bedrock Summarization": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${BedrockSummaryFunction}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "End": true
      },
      "Fail": {
        "Type": "Fail",
        "Error": "FAILED",
        "Cause": "transcription job failed"
      }
    }
  }